.footer{
    margin:40px 0 5px 0;
}

.footer-content{
    display:flex;
    align-items:center;
    justify-content:space-around;
    flex-wrap: wrap;
    gap:10px;
}

.footer-content .created-by{
    display: flex;
    flex-direction:column;
    
}

.footer-content .created-by p{
    margin:0;
    font-size: 1.1rem;
}

.footer-content .created-by .author{
    font-size: 0.9rem;
    text-align: center;
    margin-top:10px;
}   

.footer-content .social-links ul{
    display:flex;
    margin: 0;
    padding: 0;
}

.footer-content .social-links ul a{
    color: #f8f1ff;
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
    margin-right: 30px;
    padding-bottom: 4px;
    font-size: 1.8rem;
}

.footer-content .social-links ul a:hover{
    color:#b4aabe;
}




