.contenedor-view {
    padding: 5px 0 0 0;
}

.contenedor-view .navbar-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contenedor-view .navbar-container .logo{
    margin:auto 0;
}
.contenedor-view .navbar-container .logo .link-home{
    margin:0;
    padding: 0;
    text-decoration: none;
    color:#f8f1ff;
    font-weight: bold;
    padding:10px 10px;
    background-color:#b4aabe5d;
    border-radius: 10px;
}

.contenedor-view .navbar-container .logo, 
.contenedor-view .navbar-container .navbar{
    padding: 10px;
}


.contenedor-view .navbar-container .navbar ul {
    color:#f8f1ff;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.contenedor-view .navbar-container .navbar ul li,
.contenedor-view .navbar-container .navbar ul .link-home{
    color:#f8f1ff;
    display: inline-block;
    margin-right: 30px;
    padding-bottom: 4px;
}

.contenedor-view .navbar-container .navbar ul li:last-child, 
.contenedor-view .navbar-container .navbar ul .link-home li:last-child{
    margin-right: 0;
}

.contenedor-view .navbar-container .navbar ul li:hover,
.contenedor-view .navbar-container .navbar ul .link-home li:hover{
    transition: 0.4s;
    color: #b4aabe;
    cursor: pointer;
    border-bottom: 1px solid #b4aabe;
    
}
