.navbar {
    padding: 5px 0 10px 0;
    position:sticky;
    top:0;
    background-color:#18163d;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 2;
}

.navbar .navbar-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.navbar .navbar-container .logo{
    margin:auto 0;
}


.navbar .navbar-container .logo .link-home{
    margin:0;
    padding: 0;
    text-decoration: none;
    color:#f8f1ff;
    font-weight: bold;
    padding:10px 10px;
    background-color:#b4aabe5d;
    border-radius: 10px;
}
.navbar .navbar-container .logo .link-home:hover{
    background-color:#a895bb5d;
}

.navbar .navbar-container .logo, 
.navbar .navbar-container .navbar{
    padding: 10px;
}


.navbar .navbar-container .navbar ul {
    color:#f8f1ff;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar .navbar-container .navbar ul li,
.navbar .navbar-container .navbar ul .link-home{
    color:#f8f1ff;
    display: inline-block;
    margin-right: 30px;
    padding-bottom: 4px;
}

.navbar .navbar-container .navbar ul li:last-child, 
.navbar .navbar-container .navbar ul .link-home li:last-child{
    margin-right: 0;
}

.navbar .navbar-container .navbar ul li:hover,
.navbar .navbar-container .navbar ul .link-home li:hover{
    transition: 0.4s;
    color: #b4aabe;
    cursor: pointer;
    border-bottom: 1px solid #b4aabe;
    
}
